#table td{
	height: 90px;
	width: 90px;
    font-size:40px;
    text-align: center;
	padding: 10px;
	border: 9px solid grey;
	

}

#table tr {
	margin: 0px;
	padding: 10px;
	font-size:40px;
    text-align: center;
	border: 9px solid grey;
	
}

#table {
	
	
	font: 20px;
	background: #CDC1B4;
}
#first{
border-top-left-radius: 10px;
}